{{!-- files that i can import in some emails, like repetition information --}}
<strong>Hey {{provider}}!</strong>
<p>There was a cancellation, check the details below</p>
<p>
  <strong>Customer:</strong>{{user}}<br />
  <strong>Date/hour</strong>{{date}}<br />
  <br />
  <small>
    The date is already available to new appointments
  </small>
</p>
